- provide(:title, @user.name)

%div{class:"container mx-auto mt-8"}
  %div.flex.justify-center
    = gravatar_for @user
    %div
      %h1
        = @user.name
      %p
        = link_to 'Edit profile', edit_user_path(current_user), class: ""
  .py-8
    %div.text-center
      %h2.text-2xl.font-semibold.leading-tight
        My Follow List
    %div{class: "overflow-x-auto text-center"}
      .inline-block.shadow.rounded-lg.mx-auto
        %table{class: "mt-8 table-auto leading-normal"}
          %thead
            %tr
              %th.px-5.py-3.border-b-2.border-gray-200.bg-gray-100.text-left.text-xs.font-semibold.text-gray-600.uppercase.tracking-wider
                Name
              %th.px-5.py-3.border-b-2.border-gray-200.bg-gray-100.text-left.text-xs.font-semibold.text-gray-600.uppercase.tracking-wider
                Chamber
              %th.px-5.py-3.border-b-2.border-gray-200.bg-gray-100.text-left.text-xs.font-semibold.text-gray-600.uppercase.tracking-wider
                State
              %th.px-5.py-3.border-b-2.border-gray-200.bg-gray-100.text-left.text-xs.font-semibold.text-gray-600.uppercase.tracking-wider
                Party
          %tbody
            - @user_list.each do |list|
              %tr
                %td.px-2.py-2.border-b.border-gray-200.bg-white.text-sm
                  .flex.items-center
                    .flex-shrink-0.w-10.h-10
                      %img.w-full.h-full.rounded-full{:alt => "", :src => "https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80"}
                    .ml-3
                      %p.text-gray-900.whitespace-no-wrap.text-small
                        = list.full_name
                %td.px-5.py-5.border-b.border-gray-200.bg-white.text-sm
                  %p.text-gray-900.whitespace-no-wrap.capitalize
                    = list.chamber
                %td.px-5.py-5.border-b.border-gray-200.bg-white.text-sm
                  %p.text-gray-900.whitespace-no-wrap
                    = list.state
                %td.px-5.py-5.border-b.border-gray-200.bg-white.text-sm
                  %span.relative.inline-block.px-3.py-1.font-semibold.text-green-900.leading-tight
                    %span.absolute.inset-0.bg-green-200.opacity-50.rounded-full{"aria-hidden": ""}
                    %span.relative
                      = list.party