%div{ class: "container mx-auto" }
  %h1.text-center Senators (#{@senators.count})
  %div{ class: "grid xs:grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2" }
    - @senators.each do |member|
      %div
        .max-w-sm.rounded-lg.overflow-hidden.shadow-lg.bg-white.m-4
          .flex.flex-col
            = link_to senator_path(member.member_id) do
              =image_tag "https://theunitedstates.io/images/congress/225x275/#{member.member_id}.jpg", alt: "#{member.title_and_name} portrait.", class: "w-full"
            .text-xl.text-center.no-underline
              = member.title_and_name
            .text-gray-700.text-base.text-center
              #{member.party_full_name} - #{member.state}
            .text-gray-700.text-base.p-5
              Age: #{member.age}
              %br Years in Office: #{member.seniority}
              Next Election: #{member.next_election}
            .px-5.py-3.border-t.bg-gray-200.flex.justify-around
              - if !member.facebook_account.nil?
                = link_to member.facebook_account, "aria-label": "#{member.short_title} #{member.last_name}'s Facebook account." do
                  %i.fab.fa-facebook.icon{ "aria-hidden": true }
              - if !member.twitter_account.nil?
                = link_to member.twitter_account, "aria-label": "#{member.short_title} #{member.last_name}'s Twitter account." do
                  %i.fab.fa-twitter.icon{ "aria-hidden": true }
              - if !member.youtube_account.nil?
                = link_to member.youtube_account, "aria-label": "#{member.short_title} #{member.last_name}'s YouTube account." do
                  %i.fab.fa-youtube.icon{ "aria-hidden": true }
              - if !member.website.nil?
                = link_to member.website, "aria-label": "#{member.short_title} #{member.last_name}'s website link." do
                  %i.fas.fa-home.icon{ "aria-hidden": true }
              - if !member.contact_form.nil?
                = link_to member.contact_form, "aria-label": "#{member.short_title} #{member.last_name}'s contact form." do
                  %i.fas.fa-envelope-open.icon{ "aria-hidden": true }
              - if !member.phone_clickable.nil?
                %a{href: "tel:#{member.phone_clickable}", "aria-label": "Call #{member.short_title} #{member.last_name}"}
                  %i.fas.fa-phone-volume.icon{ "aria-hidden": true }
  .mx-auto
    = will_paginate