!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = yield(:title)
      | Your Congress
    = csrf_meta_tags
    = csp_meta_tag
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel: "stylesheet", integrity: "sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", crossorigin: "anonymous"}
    %link{href: "https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap", rel: "stylesheet"}
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css", integrity: "sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY=", crossorigin: "anonymous", rel: "stylesheet"}
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'
  %body.m-0.font-sans
    = render 'shared/navigation'
    = yield
    .container__debug
      = debug(params) if Rails.env.development?
